<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flasklight</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
</head>
<body>
    <h1>What do you want the light to do?</h1>
    <div class="flasklight-box">
        <form action="/message" method="post">
            <select type="text" name="message" placeholder="Action"> 
            <option value="on">On</option>
            <option value="blink">Blink</option>
            <option value="off">Off</option>
            <input type="submit" value="Send"> 
        </form> 
            <a href = "about.html">
                <button class ="about">About</button>
            </a>
    </div>
</body>
</html>